.box{
    /* border: 1px solid red; */
    width: 60%;
    margin: 10px auto;
    text-align: center;
}
.tv{
    position: relative;
    z-index: -1;
}
.heading{
    font-weight: bold;
    font-size: 55px;
}

.line{
    margin:auto;
    margin-top: -20px;

  
}

.p2{
    font-weight:500;
    font-size: 30px;
}

.p1{
    font-size: 30px;
}

.hair{
    background-color:rgb(255,250,251);
    text-align: center;
    padding: 30px;
}

.hairp1{
    color: gray;
    font-weight: bold;
    font-size: 30px;

}

.hairp2{
 
    font-weight: bold;
    font-size: 30px;

}


.div1{
    margin-top: 10px;
}

.div2{
    margin-top: 10px;
}

.infodabba{
    text-align: center;
    /* border: 1px solid green; */
    width: 90%;
    margin: 50px auto;
}
.info{
   
    border-radius: 1.5rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    /* border: 1px solid ; */
    margin-top: 30px;
 
}

.info>div>img{
  
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.infoboxA{
    
    display: flex;
    flex-direction: column;
 
    flex: 1 1 0%;
    position: relative;
    padding-inline: 1rem;

    padding-top: 2rem;
    padding-bottom: 1rem;
    
    margin-top: calc(var(--chakra-space-2) * -10);

    background-color: rgb(238,255,247);
    border-radius: 20px;
   
    opacity: 100;
    z-index: 1;
    /* border: 1px solid orangered; */
}

.infoboxB{
    
    display: flex;
    flex-direction: column;
    
    flex: 1 1 0%;
    position: relative;
    padding-inline: 1rem;
  
    padding-top: 2rem;
    padding-bottom: 1rem;
    
    margin-top: calc(var(--chakra-space-2) * -8);

    background-color: rgb(247,247,255);
    border-radius: 20px;
   
    opacity: 100;
    z-index: 1;
    /* border: 1px solid orangered; */
}


.infoboxC{
    
    display: flex;
   
   
    flex: 1 1 0%;
    position: relative;
    padding-inline: 1rem;
   
    padding-top: 2rem;
    padding-bottom: 1rem;
    
    margin-top: calc(var(--chakra-space-2) * -10);

    background-color: rgb(246,237,231);
    border-radius: 20px;
  
    opacity: 100;
    z-index: 1;
    /* border: 1px solid orangered; */
}

.infoboxD{
    
    display: flex;
    
    
    flex: 1 1 0%;
    position: relative;
    padding-inline: 1rem;
 
    padding-top: 2rem;
    padding-bottom: 1rem;
    
    margin-top: calc(var(--chakra-space-2) * -7);

    background-color:rgb(242,247,255);

    border-radius: 20px;

    opacity: 100;
    z-index: 1;
    /* border: 1px solid orangered; */
}


.infobox1{

    display: flex;
   
  
    text-align: left;
    
    gap: 5px;

    /* border: 1px solid brown; */
 
   
}


#topper_res{
    display: flex;
    gap: 20px;
    /* border: 1px solid purple; */
    display: none;
}

#topper{
    display: flex;
    gap: 20px;
    /* border: 1px solid purple; */
    
}

.infobox2{
   margin-top: 25px;
   /* border: 1px solid yellowgreen; */
}

.infobox2 >p{
 
    text-align: left;
    font-weight: bold;
    font-size: large;
}

.infobox2 >img{

    width: 50%;
}

.para{
    color: gray;
}



.story{
    display: flex;
}

.storybtn{
    margin: 20px;
}


.ADbox{

    display: flex;
    /* border: 1px solid red; */
    gap: 20px;
    width: 90%;
    margin: auto;
    margin-top: 50px;

}

.ADboxR{
    background-color: rgb(110,113,204);

    text-align: center;
    color: white;
    border-radius: 30px;
    padding-bottom: 50px;

    flex: 4;
}

.ADboxR > div >p{

    font-weight: bold;
    font-size:30px;
    margin: 20px;
}

.ADboxR > div >img{
    margin: auto;
}

.ADboxL{


    text-align: center;
    color: white;
   
    gap: 20px;
    flex: 4;
  
    height: 50%;
    
 


}
.ADboxLU{
    background-color: rgb(52,112,228);
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 30px;
}
.ADboxLU1{
    display: flex;
    
}


.ADboxLU > div > div >p{

    font-weight: bold;
    font-size:30px;
   
}

.ADboxLL{
   
    display: flex;

    gap: 20px;

}

.ADboxLL1{
    background-color: #6fbdcd;
    border-radius: 30px;
    flex: 4;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ADboxLL2{
    background-color:rgb(111,205,158);
    border-radius: 30px;
    flex: 4;
    padding-top: 20px;
    padding-bottom: 20px;
 

}


.readyBox{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}


.readyBox1{
  background-color: rgb(246,237,231);
  width: 90%;
  margin: auto;
  border-radius: 30px;
  padding: 90px 50px 50px 50px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 30px;

  margin-top: 30px;
}

.readyBoxO{
    background-color: white;
    padding: 30px;
    border-radius: 20px;
   
}

.readyBoxO > div >p{
    font-weight: bold;
   
}

.readyBoxI{
    background-color: rgb(246,237,231) ;

    width: 50%;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;

}

.readyBoxI > p{
  
 font-weight: bold;
 color: rgb(204,146,110) ;
 font-size: 30px;
}





.Dbox{
    text-align: center;
  width: 90%;
  margin: auto;
 
}

.Dbox1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;

}


.DboxA1{

    background-color:rgb(110,113,204);
    height: 188px;
    background-image: url(https://www.masaischool.com/img/homepage/Field/purple.png);
    background-position: right center;
    background-repeat: no-repeat;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    padding-top: var(--chakra-space-28);

}


.DboxAp{

    background-color: var(--chakra-colors-white);
    height: 1px;
    margin-top: 50px;

}


.DboxAS{
    color: white;
    text-align: left;
    font-size: 25px;
    background-color:rgb(110,113,204) ;
    font-weight: bold;
    width: 45%;
    margin-left: 15px;
    margin-top: -60px;
    padding-left: 10px;
}



.DboxB1{

    background-color:rgb(111,205,158);
    height: 188px;
    background-image: url(https://www.masaischool.com/img/homepage/Field/green.png);
    background-position: right center;
    background-repeat: no-repeat;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    padding-top: var(--chakra-space-28);

}


.DboxBp{

    background-color: var(--chakra-colors-white);
    height: 1px;
    margin-top: 50px;

}


.DboxBS{
    color: white;
    text-align: left;
    font-size: 25px;
    background-color:rgb(111,205,158) ;
    font-weight: bold;
    width: 50%;
    margin-left: 15px;
    margin-top: -25px;
    padding-left: 10px;
}



.DboxC1{

    background-color:rgb(204,146,110);
    height: 188px;
    background-image: url(https://www.masaischool.com/img/homepage/Field/brown.png);
    background-position: right center;
    background-repeat: no-repeat;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    padding-top: var(--chakra-space-28);

}


.DboxCp{

    background-color: var(--chakra-colors-white);
    height: 1px;
    margin-top: 50px;

}


.DboxCS{
    color: white;
    text-align: left;
    font-size: 25px;
    background-color:rgb(204,146,110) ;
    font-weight: bold;
    width: 25%;
    margin-left: 15px;
    margin-top: -25px;
    padding-left: 10px;
}

.DboxA{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 30px;
}

.DboxA2{
    text-align: left;
    color: gray;
    padding: 20px;
}


.DboxA31{
    display: flex;
    gap: 10px;
    padding: 20px;
    font-weight: bold;
    color: gray;
}

.DboxA32{
    display: flex;
    gap: 10px;
    padding: 25px;
    margin-top: -50px;
    font-weight: bold;
    color: gray;
}

.DboxA33{


    display: flex;
    gap: 10px;
    padding: 20px;
    margin-top: -25px;
    font-weight: bold;
    color: gray;

}

.DboxA4 > div{
    display: flex;
    /* border: 1px solid red; */
    justify-content: flex-end;
    margin: 20px;
    padding: 20px;
    font-weight: 500;
    cursor: pointer;
}



.DboxA3{
    margin-top: 30px;
}

.DboxC4 >div {
    display: flex;
    /* border: 1px solid red; */
    justify-content: flex-end;
    margin: 20px;
    padding: 20px;
    font-weight: 500;
    color: red;
}
.DboxC4{
   /* border: 1px solid blue; */
   margin-top: 180px;
   cursor: pointer;
}

.DboxC{
    display: flex; 
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 30px;
}
 
.spark{
    margin-left: 50px;
}

.Topper_Res{
    display: none;
}


.youtubedabba{
 
    width: 90%;
    background-color: #fffafb;
    border-radius: 20px;
    padding: 50px;
    margin: auto;
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    visibility: visible;

}

.Ytextdabba{
    /* border: 1px solid red; */
    padding: 20px;
}
.Yvideodabba{
    border-radius: 20px;
}

.Instructor{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    text-align: center;
    visibility: visible;
    margin-top: -1600px;
}

.RESInstructor{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    text-align: center;
  visibility: hidden;
}
.IText{
    text-align: center;
}

.INSbtn{
    margin-top: -480px;
}


@media (max-width:800px){
   
    .box{
        width: 80%;
        /* border: 1px solid red; */
        margin-bottom: 30px;
    }
    
    .readyBox{
        display: none;
    }
     
   .Dbox{
       margin-top: 50px;
   }

    .Dbox1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    
    }

    .DboxAS{
        color: white;
        text-align: left;
        font-size: 25px;
        background-color:rgb(110,113,204) ;
        font-weight: bold;
        width: 50%;
        margin-left: 15px;
        margin-top: -60px;
        padding-left: 10px;
    }

    .ADboxR{
        display: none;
    }
   
     .spark{
        margin-left:10px;
     }

     .heading{
        font-weight: bold;
        font-size: 30px;
    }
    
    #topper_res{
        display: flex;
        gap: 20px;
        /* border: 1px solid purple; */
       
    }
    
    #topper{
        display: flex;
        gap: 20px;
        /* border: 1px solid purple; */
        display: none;
    }
    
    .youtubedabba{
 
        width: 90%;
        background-color: #fffafb;
        border-radius: 20px;
        padding: 50px;
        margin: auto;
        display: flex;
        gap: 30px;
        margin-bottom: 50px;
        visibility: hidden;
    
    }


    

    .Instructor{
        border: 1px solid orange;
        width: 90%;
        margin: auto;
        text-align: center;
       visibility: hidden;
    }
  .Instructor> div{
      visibility: hidden;
  }
    
    .RESInstructor{
        /* border: 1px solid red; */
        width: 90%;
        margin: auto;
        text-align: center;
        visibility: visible;
        margin-top: -800px;
    }

    .INSbtn{
        margin-top:500px;
        visibility: hidden;
    }
    
    /* .RESINSbtn{
        
        margin-top: 50px;
        visibility: visible;
    } */



}


